/* # General */
* {
    font-family: 'Poppins', sans-serif;
}


/* Icons */
li>i.fa-trash {
    display: none;
    cursor: pointer;
}

li:hover>i.fa-trash {
    display: inline;
}

li>i.fa-trash:hover {
    color: red;
}

.list-group-item {
    display: flex;
}


/* # List Item */
#list-items li.list-group-item span {
    cursor: pointer;
}