/* # General */
* {
    font-family: 'Poppins', sans-serif;
}


/* Icons */
.icons>i {
    display: none;
    cursor: pointer;
    color: rgb(138, 138, 138);
}

li:hover .icons>i {
    display: inline;
}

.icons>#trash.fa-trash {
    border: 2px solid rgb(222, 226, 230);
}

.icons>#trash.fa-trash:hover {
    color: red;
    border-color: red;
}

/* # List Item */
.list-group-item {
    display: flex;
}

#list-items li.list-group-item span {
    cursor: pointer;
}